# Сравнение средних

In [2]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Импортируем выборку из файла
data = pd.read_csv( 'hw_25000.csv', delimiter = ';', names = ['index', 'height_inches', 'weight_pounds'], header = 0 )
data['height'] = data['height_inches'] * 2.54
data.head()

   index  height_inches  weight_pounds      height
0      1       65.78331       112.9925  167.089607
1      2       71.51521       136.4873  181.648633
2      3       69.39874       153.0269  176.272800
3      4       68.21660       142.3354  173.270164
4      5       67.78781       144.2971  172.181037

In [4]:
#добавляем столбец с весом в килограммах
data['weight'] = data['weight_pounds'] * 0.454
data.head()

   index  height_inches  weight_pounds      height     weight
0      1       65.78331       112.9925  167.089607  51.298595
1      2       71.51521       136.4873  181.648633  61.965234
2      3       69.39874       153.0269  176.272800  69.474213
3      4       68.21660       142.3354  173.270164  64.620272
4      5       67.78781       144.2971  172.181037  65.510883

In [5]:
#Делаем 2 выборки по росту и по весу
Height = data['height'].tolist()
Weight = data['weight'].tolist()
Kol=20
weight20 = []
n = []
i = 0
#выбираем значения двадцать значений роста от 170 до 180
while i < Kol:
    n = np.random.choice(Height)
    k=Height.index(n)
    if n>=170 and n<=180 :
        #Выбираем значение веса для людей с ростом от 170 до 180
        weight20.append (Weight[k])
        i=i+1

#Выводим получившиеся значения веса
weight20

[56.552373800000005,
 53.071692,
 65.51751180000001,
 58.037952600000004,
 60.272858400000004,
 58.837719,
 59.901395599999994,
 55.281537,
 55.81544100000001,
 55.5712344,
 48.7124294,
 65.6755038,
 65.7520482,
 66.56629720000001,
 64.0710224,
 56.69624640000001,
 56.950849600000005,
 53.311222400000005,
 63.2878724,
 54.4486286]

In [8]:
#Смотрим среднее значение веса для всей выборки
np.mean(Weight)

57.694057207003198

In [9]:
#Смотрим среднее значение веса в нашей выборке людей с ростом от 170 до 180
np.mean(weight20)

58.716591799999989

In [10]:
stats.ttest_1samp( weight20 , data['weight'].mean())

Ttest_1sampResult(statistic=0.90882592229549963, pvalue=0.37482650235156834)